<% provide(:title, "About") %>
 <html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><title><%= yield(:title) %>BurgerMail - About</title>

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>


    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>BurgerMail</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" <%= image_tag("aboutburger.jpg", :alt => "") %> >
                </div>
                <div class="col-md-6">
                    <p>BurgerMail was established in 2015 when both Keith and Alex where to lazy to make the trip to their local burger joint. The result of their lazyness sprouted the ingenious idea of international pre-cooked, tenderly made, connoisseur beef patty. With out patented CryoBurger Technology we guarantee fresh and tasty burgers right to your door no matter what country you are in. Including some of the hardest to reach! We pride ourself on having excellent customer service and our track record is impeccable. Don't hesitate to hit us up on social medial or the contact button above</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-6 text-center">
                    <img class="img-responsive" <%= image_tag("alexmcgonagle.jpg", :alt => "Alex McGongle the Burger Scientist") %> >
                    <h3>Alex McGonagle
                        <small>Burger Scientist</small>
                    </h3>
                </div>
                <div class="col-sm-6 text-center">
                    <img class="img-responsive" <%= image_tag("keithmilton.jpg", :alt => "Keith Milton the Meat and Veg Dragon Wizard") %> >
                    <h3>Keith Milton
                        <small>Meat and Veg Dragon Wizard</small>
                    </h3>
                </div>
               
                <div class="clearfix"></div>
            </div>
        </div>

    </div>

</body>

</html>
