<div class="center jumbotron">
  <h1 style="text-align:center">Welcome to BurgerMail</h1>


    <div align:"center">
        <%= link_to(image_tag("slide1.jpg"), shop_path) %>
    </div><br>
    <div>
      <%= link_to(image_tag("slide2.jpg"), shop_path) %>
    </div><br>
    <div>
      <%= link_to(image_tag("slide3.jpg"), shop_path) %> 
    </div>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
