<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<div class="center jumbotron">
  <h1 style="text-align:center">BurgerMail Catalogue</h1>
  
  <% @products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image_url) %>
    <h3><%= product.title %></h3>
    <%= sanitize(product.description) %>
    <div class="price_line">
      <span class="price"><%= product.price %></span>
      <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
    </div>
    <br>
  </div>
  <% end %>
</div>
