<div class="cart_title">Your Cart</div>
<table>
  <%= render(cart.line_items) %>
  
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>
<% if logged_in? %>
<%= link_to "Checkout", new_order_path, class: "btn btn-lg btn-primary" %>
<% else %>
<%= link_to "Checkout", login_path, class: "btn btn-lg btn-primary" %>
<% end %>
<%= link_to 'Empty cart', cart, method: :delete,
    confirm: 'Are you sure?', class: "btn btn-lg btn-primary" %>
<%= link_to 'Continue Shopping', shop_path, class: "btn btn-lg btn-primary" %>